.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--dark-green);
  border-radius: 10px;
  padding: 8px;
  background-color: var(--card-background-color);
}
.card .online-only {
  position: absolute;
  top: 4px;
  right: 6px;
  color: #0ad17e;
  font-weight: bold;
}
.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  mix-blend-mode: multiply;
}
[dark-theme="true"] .product-image {
  mix-blend-mode: normal;
  filter: brightness(95%);
}
.card .card-price {
  margin-top: auto;
}
.card-name-container {
  position: relative;
  &:hover .tooltip {
    visibility: visible;
  }
}
.card-name-container .tooltip {
  width: 100%;
  left: 0;
  top: -80px;
}
.card h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card .links-container {
  display: flex;
  height: 40px;
  gap: 8px;
}
.card .shop-logo-container {
  display: flex;
  align-items: center;
}
.card a.primary-btn {
  flex: 1;
}
.card a.primary-btn button {
  width: 100%;
}
.card button {
  border-radius: 6px;
  height: 100%;
  color: white;
  background-color: var(--light-green);
  font-size: 18px;
}
.card button.add-to-cart-btn {
  color: transparent;
  aspect-ratio: 1/1;
  &::before {
    content: "🛒";
    text-shadow: 0 0 0 white;
  }
  &.added {
    background-color: var(--dark-green);
    &::before {
      content: "✔";
    }
  }
  @media (hover: hover) {
    &.added.removable:hover {
      &::before {
        content: "✖";
      }
    }
  }
}
