:root {
  --dark-green: #339462;
  --light-green: #31d681;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus-within {
  /*Removes blue highlight when tapping on a touch device*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /*Removes the 1px blue broder around focused elements*/
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
img {
  color: transparent; /*Fixes firefox loading img alt before image loading*/
}
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15%;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.app-logo {
  width: 240px;
  height: 240px;
  padding: 12px 0;
}

.app-header {
  display: flex;
  gap: 12px;
  align-items: center;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.search-input-container {
  position: relative;
  display: flex;
  align-items: center;

  .exact-match-label {
    position: absolute;
    display: flex;
    gap: 1px;
    align-items: baseline;
    right: 0;
    padding: 8px;
    color: #a9a9a9;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    &:has(input:checked) {
      color: var(--light-green);
    }
    input {
      position: relative;
      top: 1.5px;
      accent-color: var(--light-green);
      cursor: pointer;
    }
  }
}
.price-inputs-container {
  display: flex;
  gap: 8px;
}
.governorates-categories-container {
  display: flex;
  gap: 8px;
}
.governorates-categories-container .combobox {
  flex: 1;
}
#search-input {
  flex: 1;
  outline: none;
  padding: 6px;
  font-size: 18px;
}
input[type="number"] {
  outline: none;
  border-radius: 6px;
  padding: 6px;
  font-size: 18px;
}
.combobox {
  border-radius: 6px;
  color: black;
  font-size: 18px;
}
#search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-left: auto;
  padding: 0px 12px;
  border: none;
  border-radius: 6px;
  background-color: var(--light-green);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  img.favicon {
    color: white;
    filter: brightness(0%) invert(100%);
    width: 22px;
    height: 22px;
  }
}
main {
  flex: 1;
}
.cards-container {
  /* User input values */
  --grid-layout-gap: 12px;
  --grid-column-count: 4;
  --grid-item--min-width: 240px;

  /* Calculated values */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: 12px;
}
input {
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 6px;
}
input:focus {
  border: 2px solid var(--light-green);
}
.app-link {
  color: #61dafb;
}
.scrollup-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  padding-top: 4px;
  background-color: var(--light-green);
  color: white;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 28px;
  cursor: pointer;
}
.loader {
  width: 32px;
  height: 32px;
  border: 5px solid var(--light-green);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1583px) {
  .governorates-categories-container {
    flex-direction: column;
  }
}
@media (max-width: 1202px) {
  .app-header {
    flex-direction: column;
    margin-bottom: 24px;
    .inputs-container {
      align-self: stretch;
    }
  }
}
@media (max-width: 842px) {
  .price-inputs-container {
    flex-wrap: wrap;
    .combobox.sort {
      flex: 1 0 100%;
    }
    input {
      flex: 1;
    }
  }
  .scrollup-btn {
    right: 8px;
    width: 36px;
    height: 36px;
    font-size: 24px;
  }
  #search-btn {
    height: 40px;
    flex: 1 0 100%;
  }
}
