:root {
  --dark-green: #339462;
  --light-green: #31d681;
}
* {
  box-sizing: border-box;
}
*:focus-within {
  /*Removes blue highlight when tapping on a touch device*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /*Removes the 1px blue broder around focused elements*/
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
img {
  color: transparent; /*Fixes firefox loading img alt before image loading*/
}
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15%;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.app-logo {
  height: 240px;
  padding: 12px 0;
}

.app-header {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.price-inputs-container {
  display: flex;
  gap: 8px;
}
.governorates-categories-container {
  display: flex;
  gap: 8px;
}
.governorates-categories-container .combobox {
  flex: 1;
}
#search-input {
  flex: 1;
  outline: none;
  padding: 6px;
  font-size: 18px;
}
input[type="number"] {
  outline: none;
  border-radius: 6px;
  padding: 6px;
  font-size: 18px;
}
.combobox {
  border-radius: 6px;
  color: black;
  font-size: 18px;
}
main {
  flex: 1;
}
.cards-container {
  /* User input values */
  --grid-layout-gap: 12px;
  --grid-column-count: 4;
  --grid-item--min-width: 240px;

  /* Calculated values */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: 12px;
}
input {
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 6px;
}
input:focus {
  border: 2px solid var(--light-green);
}
.app-link {
  color: #61dafb;
}

@media (max-width: 1583px) {
  .governorates-categories-container {
    flex-direction: column;
  }
}
@media (max-width: 1085px) {
  .app-header {
    flex-direction: column;
    margin-bottom: 24px;
    .inputs-container {
      align-self: stretch;
    }
  }
}
@media (max-width: 674px) {
  .price-inputs-container {
    flex-wrap: wrap;
    .combobox.sort {
      flex: 1 0 100%;
    }
    input{
      flex: 1;
    }
  }
}
