* {
  box-sizing: border-box;
  /*Removes blue highlight when tapping on a touch device*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", -apple-system,
    BlinkMacSystemFont, "Apple Color Emoji" !important;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
*:focus-within,
*:focus {
  /*Removes the 1px blue broder around focused elements*/
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
img {
  color: transparent; /*Fixes firefox loading img alt before image loading*/
  /* fixes img inside anchor not aligned with other flex elements (4px difference) */
  vertical-align: bottom;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #27b06a;
  color: #fff;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  z-index: 1;
}
.shop-logo {
  width: 60px;
  max-height: 100%;
  filter: drop-shadow(0px 0.5px 0 black);
}
[dark-theme="true"] .shop-logo {
  filter: drop-shadow(0 0.5px 0 white);
}
input[type="number"] {
  outline: none;
  border-radius: 6px;
  padding: 6px;
  font-size: 18px;
}
.combobox {
  border-radius: 6px;
  font-size: 18px;
}

input {
  border: 2px solid var(--border-color);
  border-radius: 6px;
}
[dark-theme="true"] input {
  background-color: var(--secondary-dark-background-color);
}
input:focus,
input:hover {
  border: 2px solid var(--light-green);
}

a {
  text-decoration: none;
  &:visited {
    color: transparent;
  }
}
button {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    filter: saturate(110%);
  }
}
.app-logo-container {
  position: relative;
  margin-top: 64px;
  margin-bottom: 28px;
}

[dark-theme="true"] .app-logo-container::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  background: url("/logo.png");
  background-size: contain;
  clip-path: inset(82px 0 0 0);
  filter: brightness(0) invert(100%);
}
