:root {
  --dark-green: #339462;
  --light-green: #25bb6e;
  --primary-background-color: #f7f7f7; /* For body and large areas */
  --border-color: hsl(0, 0%, 90%);
  --primary-text-color: black;
  --navbar-hover-background: lightgrey;
  --closebtn-background-color: lightgrey;
  --combobox-option-background-color: white;
  --article-card-background-color: rgb(231, 231, 231);
  --navbar-height: 64px;
}
[dark-theme="true"] {
  color-scheme: dark;
  --primary-background-color: #1c1b22;
  --secondary-dark-background-color: #26252f; /* For small elements (lighter than the primary) */
  --border-color: grey;
  --primary-text-color: rgb(245, 245, 245);
  --closebtn-background-color: dimgrey;
  --navbar-hover-background: dimgrey;
  --combobox-option-background-color: var(--secondary-dark-background-color);
  --article-card-background-color: var(--secondary-dark-background-color);
}
html {
  scroll-behavior: smooth;
}

html:has(.cart-overlay-container) {
  overflow: hidden;
}
body {
  margin: 0;
  background-color: var(--primary-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
