.share-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--primary-text-color);
  .cards-container {
    width: min(100%, 900px);
    flex: 1;
  }
}
